# Секреты (Никогда не пушить!)
.env

# Виртуальное окружение (Там лежат тысячи файлов библиотек, 
# которые другие должны устанавливать сами через pip)
venv/
ENV/
env/

# Кэш Python (Технический мусор, который создается при запуске кода)
__pycache__/
*.py[cod]

# Специфичные файлы систем (Если будешь делиться проектом)
.DS_Store
Thumbs.db